/* ----------------- |START| GLOBAL THEME ----------------- */
div {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}
label {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;   
}
button {
    background-color: darkslateblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
    transition: box-shadow 0.2s ease;
}

#body {
    background: url(Images/Textures/white-grain.png);
    /*    background-image: url(Images/Pattern.png)*/
}

.un-form-control {
    border: none;
    background: none;
    box-shadow: none;
}
/* -----------------  |END|  GLOBAL THEME ----------------- */

/* ----------------- |START| PARALLAX --------------------- */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}
/* ----------------- |START| PARALLAX --------------------- */

/* ----------------- |START| MENU SECTION ----------------- */
/* (0) Menu Styling */
.main-menu {
    position: relative;
    max-width: 700px;
    margin-bottom: 80px;
}


/* (1) Menu photo */
.menu-photo-section {
    height: 250px;
    margin-top: 50px;
}

#menu-photo-1 {
    position: absolute;
    z-index: -300;
    width: 45%;
    transform: rotate(-30deg);
}

#menu-photo-2 {
    position: absolute;
    z-index:-600;
    width: 40%;
    transform: rotate(30deg);
    z-index: -300;
    right: 15%;
}

.polaroid {
    border: solid black 1px;
    background-color: white;
    padding: 10px 10px 35px 10px;
}

/* (2) Single Menu Item: */
.menu-item {

    margin-top: 2px;
    font-size: 1.5em;
    color: black;
    background: rgb(115,154,175);
    margin: 8px 8%;
    padding-bottom: 3px;
    padding-left: 15%;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.55);
    cursor:pointer;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
    
    transition: all 1s ease;
    transition: box-shadow 0.1s;
}


.menu-item:hover {
    background-color: #0a5d8a;
}

.menu-item:active {
    box-shadow: 0px 0px 0px black;
}

.icon-style {
    margin: 8px;
}
/* -----------------  |END|  MENU SECTION ----------------- */

/* ----------------- |START| ALTERNATING THEME ------------ */
.content-wrapper {
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index:-1001;
    padding: 35px;
    min-height: 520px;
}

.light-section {
    background-image: url(Images/Textures/white-grain.png);
    
}

.dark-section {
    background-color: #808080;
}
/* -----------------  |END|  ALTERNATING THEME ------------ */

/* ----------------- |START| CONTENT SECTIONS ------------- */
/* TITLE SECTION */
#title-section {
    text-align: center;
}

#title-image {
    max-width: 100%;
    margin-top: 45px;
}
/* TITLE SECTION */

/* PHOTOS SECTION */
.scatteroid-image {
    width: 100%;
}

.photostack-img {
    height: auto !important;
}

figure {
    height: auto !important;
}
/* PHOTOS SECTION */

/* RSVP Section */
.rsvp-section {
    background-color: rgba(240,248,255,0.6);
    padding: 40px;20px;
}

#rsvp-notes {
    resize: none;
}

.rsvp-info-item {
    margin-bottom: 8px;
}

#rsvp-submit {
    float: right
}
/* RSVP Section */

/* REGISTRY SECTION */
.registry-item {
    padding: 10px;
    margin: 8px 8%;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.55);
    cursor: pointer;
    height: 100px;
    background-color: #F0F8FF;
    border: 1px solid black;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    transition: all 1s ease;
    transition: box-shadow 0.1s;
}


.registry-item:hover {
    background-color: #6d95b7;
}

.registry-item:active {
    box-shadow: 0px 0px 0px black;
}
/* REGISTRY SECTION */

/* COUNTDOWN SECTION */
#countdown-text-style {
    text-align: center;
    font-size: 2em;
}

.countdown-number {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}

#countdown-section {
    min-height: 100px;
}

.reg-image {
    height: 100%;
    width: 100%;
    background-size: contain;
}
/* COUNTDOWN SECTION */
/* -----------------  |END|  CONTENT SECTIONS ------------- */


/* ----------------- |START| MEDIA QUERIES ---------------- */
@media (min-width: 992px) {
    .main-menu {
    position: fixed;
    }
    
    .menu-photo-section {
        height: 160px;
    }
}

@media (max-width: 991px) {
    .main-menu {
        margin-left: auto;
        margin-right: auto;
    }
}
/* -----------------  |END|  MEDIA QUERIES ---------------- */